.app_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(132, 157, 191, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255,255, 0.18);
    position: fixed;
    z-index: 2;
}

.app_navbar_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 100px;
        height: 100px;
    }
}

